[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
lending_protocol = "5cAHP93tbTEwTBs6Xr3AGu6fCrkrwP9BRy7YCNXKsaqP"
pyth-mock = "XvQgJowUSzRqMZQArePpJdccAzvUTTgCteE8Ptm9G9k"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
