[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
lending_protocol = "4rmvxmwwBFdHsyGsTZ4PRYtasfm3oDiyx3eoibJn48PP"
#pyth-mock should be commented out when not testing on local net
pyth-mock = "9NwPtAgNFKYrkPLAbszBwfRqNqNxsomrRHAWf6S6A218"

[programs.devnet]
pyth-mock = "9NwPtAgNFKYrkPLAbszBwfRqNqNxsomrRHAWf6S6A218"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
