[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
lending_protocol = "SYcBiQtCfjAia7DkkXYubztiQ1e5AGjKPKsM9iJz8od"
pyth-mock = "9NjP3rtyDtirKvYMwuyrHigznPTCmjwgbmc9MLLJvtWd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
