[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
lending_protocol = "6rngcVtWeJeL558TTXAHmDLBZYauiUtFP4FtFMsQrr1r"
#pyth-mock should be commented out when not testing on local net
pyth-mock = "GRANH65x1BwPVFh7aBGtELY4YFFPVv1onoC56Wn6euuB"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
